<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="CRM Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">package/com_crm/site/src/CrmCore</directory>
        </include>
        <exclude>
            <directory>tests</directory>
        </exclude>
        <coverage>
            <report>
                <clover outputFile="build/coverage/clover.xml"/>
                <html outputDirectory="build/coverage/html"/>
            </report>
        </coverage>
    </source>
</phpunit>
